/* -------------------- GERAL -------------------- */
/* FONT */
a, 
p,
button,
.title, 
.subtitle, 
.Paragraph{
    font-family: 'Comfortaa', cursive;   
    font-style: normal;
}

.subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px;
}
/* -------------------- / -------------------- */


/* -------------------- HEADER -------------------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19b892;
    padding: 13px 40px;

    min-width: 675px;
}

.menu{
    margin-right: 160px;
}

.title{
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;

    margin-left: 140px;

    color: #F2fbf9;
}

.Paragraph{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 10.54%;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    font-style: oblique;
    
    color: #000000;
}

.linkMenu{    
    margin: 0 10px;

    width: 43px;
    height: 33px;

    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #F2fbf9;
}

a,
a.linkMenu{
   text-decoration: none;
   transition: 0.5s ease-in;
}

a.linkMenu:hover{
    color: rgb(0, 255, 217);

    font-weight: bold;
    font-size: 28px;
}
/* -------------------- / -------------------- */

/* -------------------- ABOUT -------------------- */
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #F2fbf9;
    flex-wrap: wrap;

    min-width: 758px;
}

.presentation{
    width: 500px;
    margin: 0 100px;
}

.MainImage{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
}

.MainImage:hover{
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
}
/* -------------------- / -------------------- */

/* -------------------- SECTION CARD -------------------- */
.SectionCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: 20px 0px;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.hobbiesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobbiesSection .subtitle{
    text-align: end;
}

.topFiveSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 125px;
    width: 100px;

    background: #DFDFDF;    
    border-radius: 5px;
}

.card:hover{
    background: #d3d2d2;
    filter: drop-shadow(4px 4px 4px #d1f1e9);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin-bottom: 35px;
}

.imageCard{
    height: 92.75px;
    width: 100px;
    
    top: 0px;
    border-radius: 5px 5px 0px 0px;
}

.titleCard{    
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-weight: 500;
    font-size: 12px;    
    color: #000000;
}
/* -------------------- / -------------------- */

/* -------------------- FOOTER -------------------- */
footer{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 755px; 

    padding: 0px 0px; 
    background-color: #19b892;
}

.socialMedia{
    display: flex;
    flex-direction: row;

    margin-left: 100px;
   
    padding: 16px 32px;
}

img.svg{
    width: 33px;
    height: 33px;
    
    margin-left: 20px;    
}

button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;

    width: 162px;
    height: 38px;

    margin-right: 170px;

    background: #19b892;
    color: #fff;
    
    border: none;
    border-radius: 5px;
    border-color: #F2fbf9;
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.485));

    transition: 0.5s ease-in;
}

button:hover{
    filter: drop-shadow(2.4px 2.4px 2.4px rgba(11,132,115, 255));
    background: #0b8472;
    border: none;

    font-weight: bold;
}